.btn {
  background-color: #9f3c2e;
  color: #fff;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
  border: 5px;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Comfortaa', 'sans-serif';
}

.btn:hover {
  filter: drop-shadow(0 0 6px rgba(227, 95, 78, 0.3));
  text-decoration: underline;
}