@font-face {
  font-family: 'BilyaLayared';
  src: url('/fonts/Bilya-Layared.ttf') format('truetype');
}

.header_container {
  font-family: 'BilyaLayared', 'sans-serif';
}

.link {
  text-decoration: none;
  color: #FFF;
  transition: 0.5s ease;
}

.link:hover {
  text-decoration: underline;
}