.task_card {
  background-color: #21212b;
  height: 50px;
  display: flex;
  font-size: 1.2em;
  border-radius: 5px;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  font-family: 'Comfortaa', 'sans-serif';
}

.span {
  height: 100%;
  width: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.complete {
  background-color: #5ac172;
}

.incomplete {
  background-color: #b35c4b;
}

.task_card p {
  margin: auto 0 auto 10px;
}

.task_card_actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.task_card_actions button {
  margin-right: 20px;
  font-size: 1.2em;

  text-decoration: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

.task_card_edit:hover {
  color: #f8d087;
  filter: drop-shadow(0 0 6px rgba(248, 208, 135, 0.3));
}

.task_card_remove:hover {
  color: #b35c4b;
  filter: drop-shadow(0 0 6px rgba(227, 95, 78, 0.3));
}

.task_card_description:hover {
  color: #c9c5c5;
  filter: drop-shadow(0 0 6px rgba(201, 197, 197, 0.3));
}