@font-face {
  font-family: 'BilyaLayared';
  src: url('/fonts/Bilya-Layared.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'BilyaLayared', 'sans-serif';
}

html, body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #181820;
}

body {
  color: white;
}