.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_control label {
  margin-bottom: .6em;
  font-weight: bold;
}

.form_control input {
  padding: 1em;
  border-radius: 5px;
  border: none;
  background-color: #21212b;
  color: #b6b4b4;
}

.form_control label, input {
  font-family: 'Comfortaa', 'sans-serif';
}

.form_control input::placeholder {
  color: #b6b4b4
}